/*Master Styles*/
body {
    margin:0em;
    font-family: "PT Serif", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav Styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2.375em;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 1.25em;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 1.125em;
    border-bottom: 0.063em solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}


/*Portfolio Styles*/

.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 21.875em;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 6.25em;
    padding-right: 6.25em;
    margin: auto;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 1.25em;
    position: center;
}

.img-text-wrapper .subtitle {
    transition: 0.9s;
    color: transparent;
    font-weight: 600;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color:ivory;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.img-lighten {
    transition: 1s;
    filter: brightness(100%);
}

/*About page styles*/
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width:100%;
}

.profile-content-wrapper {
    padding: 30px;
}

